In [1]:
import numpy as np

In [6]:
import xml.etree.ElementTree as ET
tree = ET.parse('../data/map.osm')
root = tree.getroot()

In [7]:
import pandas as pd
csv_data = pd.read_csv("../data/dataviz.csv")

In [8]:
# Get the list of all nodes for every road in the csv
node_ids = (csv_data.road.apply(lambda x: x[1:-1].split(", ")))

In [9]:
# Find all osm_nodes from the osm map data
osm_nodes = root.findall("node")

In [10]:
# Create a dictionary with every nodes in the osm tree. The dict contains the latitude and longitude of the node.
node_attribute_dict = {}
for osm_node in osm_nodes:
    attrib = osm_node.attrib
    node_attribute_dict[attrib["id"]] = {"lat": attrib["lat"], "lon": attrib["lon"]}

In [11]:
# Create the list of longitudes and latitudes for every roads.
all_latitudes = []
all_longitudes = []
for nodes in node_ids.iteritems():
    latitudes = []
    longitudes = []
    for node in nodes[1]:
        node_attr = node_attribute_dict.get(node, {"lat": "", "lon": ""})
        latitudes.append(node_attr["lat"])
        longitudes.append(node_attr["lon"])    
    all_latitudes.append(latitudes)
    all_longitudes.append(longitudes)

In [12]:
# Write the data in the csv the list of longitudes and latitudes for every roads.
csv_data["road_latitudes"] = all_latitudes
csv_data["road_longitudes"] = all_longitudes

csv_data.sample(5)

,plat,plng,dlat,dlng,t,road,road_latitudes,road_longitudes
1631,46.517116,6.630342,46.517291,6.623164,19:00:00,"[311463563, 2940544168, 311463564, 561463459, ...","[46.5171142, 46.5171182, 46.5171290, 46.517149...","[6.6303230, 6.6303607, 6.6303954, 6.6304295, 6..."
1508,46.517116,6.630342,46.537641,6.649962,19:30:00,"[311463563, 2940544168, 311463564, 561463459, ...","[46.5171142, 46.5171182, 46.5171290, 46.517149...","[6.6303230, 6.6303607, 6.6303954, 6.6304295, 6..."
1172,46.517116,6.630342,46.517378,6.642816,11:45:00,"[311463563, 2940544168, 311463564, 561463459, ...","[46.5171142, 46.5171182, 46.5171290, 46.517149...","[6.6303230, 6.6303607, 6.6303954, 6.6304295, 6..."
1844,46.517116,6.630342,46.558792,6.680104,19:15:00,"[311463563, 2940544168, 311463564, 561463459, ...","[46.5171142, 46.5171182, 46.5171290, 46.517149...","[6.6303230, 6.6303607, 6.6303954, 6.6304295, 6..."
1644,46.517116,6.630342,46.516210,6.632323,19:30:00,"[311463563, 2940544168, 311463564, 561463459, ...","[46.5171142, 46.5171182, 46.5171290, 46.517149...","[6.6303230, 6.6303607, 6.6303954, 6.6304295, 6..."

In [86]:
csv_data.to_csv("data/dataviz_lat_lon.csv", index=False)

In [31]:
import json
with open("/home/davide/EPFL/5eme/DataVisualzation/dataviz-smood/data/nodes_dict.json", "w") as f:
    json.dump(node_attribute_dict, f)