In [25]:
import numpy as np

In [3]:
import xml.etree.ElementTree as ET
tree = ET.parse('data/map.osm')
root = tree.getroot()

In [10]:
import pandas as pd
csv_data = pd.read_csv("data/dataviz.csv")

/home/davide/anaconda3/envs/dataviz/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [27]:
# Get the list of all nodes for every road in the csv
node_ids = (csv_data.road.apply(lambda x: x[1:-1].split(", ")))

In [42]:
# Find all osm_nodes from the osm map data
osm_nodes = root.findall("node")

In [49]:
# Create a dictionary with every nodes in the osm tree. The dict contains the latitude and longitude of the node.
node_attribute_dict = {}
for osm_node in osm_nodes:
    attrib = osm_node.attrib
    node_attribute_dict[attrib["id"]] = {"lat": attrib["lat"], "lon": attrib["lon"]}

In [77]:
# Create the list of longitudes and latitudes for every roads.
all_latitudes = []
all_longitudes = []
for nodes in node_ids.iteritems():
    latitudes = []
    longitudes = []
    for node in nodes[1]:
        node_attr = node_attribute_dict.get(node, {"lat": "", "lon": ""})
        latitudes.append(node_attr["lat"])
        longitudes.append(node_attr["lon"])    
    all_latitudes.append(latitudes)
    all_longitudes.append(longitudes)

In [85]:
# Write the data in the csv the list of longitudes and latitudes for every roads.
csv_data["road_latitudes"] = all_latitudes
csv_data["road_longitudes"] = all_longitudes

csv_data.sample(5)

,plat,plng,dlat,dlng,t,road,road_latitudes,road_longitudes
307,46.520649,6.635173,46.558792,6.680104,18:30:00,"[2223091605, 3786724165, 3786724164, 302530573...","[46.5206503, 46.5206473, 46.5206459, 46.520645...","[6.6351191, 6.6352327, 6.6353559, 6.6353659, 6..."
1479,46.517671,6.638005,46.518755,6.660632,18:30:00,"[564689201, 5340503993, 734171155, 253302592, ...","[46.5177018, 46.5175870, 46.5175125, 46.517388...","[6.6380188, 6.6379667, 6.6379328, 6.6378765, 6..."
641,46.520649,6.635173,46.517294,6.600756,20:15:00,"[2223091605, 3786724165, 3786724164, 302530573...","[46.5206503, 46.5206473, 46.5206459, 46.520645...","[6.6351191, 6.6352327, 6.6353559, 6.6353659, 6..."
829,46.520649,6.635173,46.558792,6.680104,19:00:00,"[2223091605, 3786724165, 3786724164, 302530573...","[46.5206503, 46.5206473, 46.5206459, 46.520645...","[6.6351191, 6.6352327, 6.6353559, 6.6353659, 6..."
1976,46.520649,6.635173,46.526487,6.634099,18:00:00,"[2223091605, 3786724165, 3786724164, 302530573...","[46.5206503, 46.5206473, 46.5206459, 46.520645...","[6.6351191, 6.6352327, 6.6353559, 6.6353659, 6..."

In [86]:
csv_data.to_csv("data/dataviz_lat_lon.csv", index=False)