In [2]:
import numpy as np
import pandas as pd
import json

In [2]:
data = pd.read_csv("../data/dataviz.csv")
data.head()

,plat,plng,dlat,dlng,t,road
0,46.517116,6.630342,46.508528,6.627598,11:15:00,"[311463563, 2940544168, 311463564, 561463459, ..."
1,46.517116,6.630342,46.521429,6.656347,20:00:00,"[311463563, 2940544168, 311463564, 561463459, ..."
2,46.517116,6.630342,46.558792,6.680104,18:15:00,"[311463563, 2940544168, 311463564, 561463459, ..."
3,46.520649,6.635173,46.519590,6.634718,18:45:00,"[2223091605, 3786724165, 3786724164, 302530573..."
4,46.510731,6.630553,46.515950,6.657525,19:00:00,"[3516999773, 3817926827, 567951313, 567951312,..."

In [8]:
grouped = data.groupby("t")
time_df = pd.DataFrame(list(grouped.indices.items()), columns=["time", "indices"])

time_df["time"] = time_df["time"].apply(lambda x: x[:-3])
time_df["indices"] = time_df["indices"].apply(lambda x: list(x))
time_df.head()

    time                                            indices
0  10:30                                             [1787]
1  10:45                                             [1801]
2  11:00                                    [112, 589, 899]
3  11:15  [0, 13, 107, 214, 243, 325, 358, 479, 506, 518...
4  11:30  [272, 303, 424, 429, 469, 512, 521, 527, 1021,...

In [9]:
time_df.to_csv("../data/time_data.csv", index=False)

In [18]:
hours = [h for h in range(10, 22)]
minutes = [m for m in range(0, 60, 15)]
times = ['{0}:{1:02d}'.format(h,m) for h in hours for m in minutes]
times = times[2:-1]
times

['10:30',
 '10:45',
 '11:00',
 '11:15',
 '11:30',
 '11:45',
 '12:00',
 '12:15',
 '12:30',
 '12:45',
 '13:00',
 '13:15',
 '13:30',
 '13:45',
 '14:00',
 '14:15',
 '14:30',
 '14:45',
 '15:00',
 '15:15',
 '15:30',
 '15:45',
 '16:00',
 '16:15',
 '16:30',
 '16:45',
 '17:00',
 '17:15',
 '17:30',
 '17:45',
 '18:00',
 '18:15',
 '18:30',
 '18:45',
 '19:00',
 '19:15',
 '19:30',
 '19:45',
 '20:00',
 '20:15',
 '20:30',
 '20:45',
 '21:00',
 '21:15',
 '21:30']

In [31]:
for time in times:
    if not (time_df.time==time).any():
        time_df=time_df.append({'time':time, 'indices':[]}, ignore_index=True)
        
time_df = time_df.sort_values('time').reset_index(drop=True)
time_df

     time                                            indices
0   10:30                                             [1787]
1   10:45                                             [1801]
2   11:00                                    [112, 589, 899]
3   11:15  [0, 13, 107, 214, 243, 325, 358, 479, 506, 518...
4   11:30  [272, 303, 424, 429, 469, 512, 521, 527, 1021,...
5   11:45  [274, 431, 475, 748, 968, 994, 1079, 1136, 117...
6   12:00  [105, 595, 830, 898, 1192, 1340, 1415, 1883, 1...
7   12:15  [184, 357, 501, 761, 821, 1154, 1307, 1424, 14...
8   12:30  [30, 103, 294, 406, 491, 492, 565, 624, 921, 1...
9   12:45                             [315, 481, 1410, 1662]
10  13:00  [264, 350, 454, 548, 556, 557, 736, 852, 893, ...
11  13:15  [76, 439, 705, 787, 970, 1061, 1117, 1143, 135...
12  13:30    [271, 409, 555, 711, 850, 901, 944, 1556, 1922]
13  13:45               [72, 524, 545, 672, 991, 1773, 1871]
14  14:00                                  [428, 1411, 1523]
15  14:15                                        [752, 1434]
16  14:30     [229, 446, 1276, 1412, 1487, 1511, 1764, 1793]
17  14:45                                                 []
18  15:00                         [269, 633, 721, 737, 1094]
19  15:15                                                 []
20  15:30                                                 []
21  15:45                                       [1159, 1709]
22  16:00                                                 []
23  16:15                                              [897]
24  16:30                                        [343, 1361]
25  16:45                                         [257, 862]
26  17:00      [421, 486, 792, 1106, 1121, 1135, 1144, 1163]
27  17:15                                        [393, 1380]
28  17:30  [124, 203, 225, 502, 551, 844, 896, 1134, 1449...
29  17:45  [47, 71, 312, 411, 440, 533, 610, 855, 856, 10...
30  18:00  [6, 19, 29, 33, 34, 45, 55, 67, 114, 121, 135,...
31  18:15  [2, 12, 21, 27, 42, 53, 56, 59, 60, 61, 68, 78...
32  18:30  [5, 18, 49, 50, 52, 89, 94, 123, 131, 147, 148...
33  18:45  [3, 14, 20, 38, 39, 40, 41, 48, 63, 66, 74, 80...
34  19:00  [4, 22, 26, 46, 62, 69, 70, 73, 100, 111, 115,...
35  19:15  [9, 16, 35, 51, 54, 85, 88, 93, 96, 128, 130, ...
36  19:30  [8, 17, 24, 32, 37, 43, 57, 58, 75, 82, 106, 1...
37  19:45  [10, 25, 28, 31, 44, 79, 84, 86, 92, 98, 113, ...
38  20:00  [1, 36, 65, 99, 102, 141, 142, 151, 162, 165, ...
39  20:15  [7, 64, 77, 81, 119, 176, 177, 185, 198, 206, ...
40  20:30  [15, 83, 87, 97, 104, 129, 134, 140, 143, 152,...
41  20:45  [23, 136, 212, 258, 328, 386, 397, 412, 417, 4...
42  21:00  [11, 91, 125, 183, 249, 327, 379, 383, 401, 44...
43  21:15  [138, 291, 311, 413, 540, 751, 816, 884, 916, ...
44  21:30                      [120, 1074, 1213, 1303, 1738]

In [32]:
time_df.to_csv("../data/time_data.csv", index=False)