In [1]:
import numpy as np
import pandas as pd
import json

/home/davide/anaconda3/envs/deepsuccess/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/davide/anaconda3/envs/deepsuccess/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pd.read_csv("../data/dataviz.csv")
data.head()

,plat,plng,dlat,dlng,t,road
0,46.517116,6.630342,46.508528,6.627598,11:15:00,"[311463563, 2940544168, 311463564, 561463459, ..."
1,46.517116,6.630342,46.521429,6.656347,20:00:00,"[311463563, 2940544168, 311463564, 561463459, ..."
2,46.517116,6.630342,46.558792,6.680104,18:15:00,"[311463563, 2940544168, 311463564, 561463459, ..."
3,46.520649,6.635173,46.519590,6.634718,18:45:00,"[2223091605, 3786724165, 3786724164, 302530573..."
4,46.510731,6.630553,46.515950,6.657525,19:00:00,"[3516999773, 3817926827, 567951313, 567951312,..."

In [8]:
grouped = data.groupby("t")
time_df = pd.DataFrame(list(grouped.indices.items()), columns=["time", "indices"])

time_df["time"] = time_df["time"].apply(lambda x: x[:-3])
time_df["indices"] = time_df["indices"].apply(lambda x: list(x))
time_df.head()

    time                                            indices
0  10:30                                             [1787]
1  10:45                                             [1801]
2  11:00                                    [112, 589, 899]
3  11:15  [0, 13, 107, 214, 243, 325, 358, 479, 506, 518...
4  11:30  [272, 303, 424, 429, 469, 512, 521, 527, 1021,...

In [9]:
time_df.to_csv("../data/time_data.csv", index=False)